@media print {
	body {
		background-color: #FFFFFF;
		color: #000000;
		font-family: Georgia, 'Times New Roman', serif
	}
	a {
		color: #0066CC;
		font-weight: bold;
		text-decoration: underline;
		word-wrap: break-word
	}
	a[href^="http://"]:after, a[href^="https://"]:after {
		content: " (" attr(href) ")"
	}
}
